@model LocationDeVoitures.Models.Api.Reservation
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card">
    <div class="card-body">
        <form action="@Url.Action("Add", "Reservations")"method="post">
            <h2 class="text-center"><strong>RESERVATION</strong></h2><br />
            @Html.HiddenFor(model => model.AdvertisementId, new { value = Model.AdvertisementId} )
            <div class="form-group"><label><strong>Pick up date : </strong></label>@Html.TextBoxFor(model => model.PickupDate, null, new { @class = "form-control", @type = "date" })</div>
            <div class="form-group"><label><strong>Drop off date :</strong></label>@Html.TextBoxFor(model => model.DropOffDate, null, new { @class = "form-control", @type = "date" })</div>
            <div class="form-group"><label><strong>Message :</strong></label><textarea rows="14" name="message" placeholder="Message" class="form-control"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Reserve</button></div>
        </form>
    </div>
</div>