@model LocationDeVoitures.Models.Advertisement


<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filter</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link href="~/css/CardStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-2"><img /></div>
                <div class="col-xl-9 offset-xl-0">
                    <div class="row">
                        <div class="col">
                            <h2>Heading</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Paragraph</p>
                            <p>Paragraph</p>
                            <p>Paragraph</p>
                            <p>Paragraph</p>
                            <p>Paragraph</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-xl-10"><button class="btn btn-primary" type="button">Details</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>