@model LocationDeVoitures.ViewModels.AdvertisementsViewModel

@{
    ViewData["Title"] = "Home Page";
}
    <html>
    <head>

        <link href="~/css/Index.css" rel="stylesheet" />
    </head>
    <body>
        <div class=" row">
            <div class="column left" style="margin-top:10px;">
                <div class="container">
                    <h1>Filter</h1>

                    @using(Html.BeginForm("Index", "Advertisements", FormMethod.Post))
                    {
                     <div class="form-group">
                        <label><strong>Price range :</strong></label>
                        <div data-role="rangeslider">
                            <div>
                                <label>Min Price</label>
                                @Html.TextBoxFor(m => m.filter.MinPrice)

                            </div>
                            <div>
                                <label>Max Price</label>
                                @Html.TextBoxFor(m => m.filter.MaxPrice)
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label><strong>Transmission :</strong></label>
                        <div>
                          

                            <select name="Transmission" id="Transmission">
                                <option value="0">Automatic</option>
                                <option value="1">Manual</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label><strong>Fuel type :</strong></label>
                        <div>
                            <select name="Fuel">
                                <option value="Gasoline">Gasoline</option>
                                <option value="Disiel">Diesel</option>
                                <option value="Electric">Electric</option>
                                <option value="LPG"> LPG</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Filter" /></div>
                    }


                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="column right">
                @foreach (var item in Model.Advertisements)
                {
                    @await Html.PartialAsync("_AdvertisementCard", item)
                    <br><br>

                }
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        @for (int i = 1; i <= Model.MaxPage; i++)
                        {

                            <li class="page-item"><a class="page-link" href="Index?page=@i">@i</a></li>
                        }
                    </ul>
                </nav>
            </div>




      
        </div>
    </body>
</html>