@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Car Rental P2P is intended to uberize the car rental business facilitating transactions between car owners wanting to rent their cars and clients looking to borrow cars.</p>