@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/style3.css" rel="stylesheet" />
<link href="~/css/Features-Boxed.css" rel="stylesheet" />
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Car Rental P2P</h1>

        <p class="lead">Car Rental P2P is intended to uberize the car rental business facilitating transactions between car owners wanting to rent their cars and clients looking to borrow cars.</p>
        <a href="@Url.Action("Index", "Advertisements")" class="btn btn-primary btn-lg" style="margin-left: 420px;">Check advertisements</a>
    </header>
    <div>
        <h3>Best offers</h3>
    </div>
    <!-- Page Features -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Citroen C3</div>
                <div class="card-body">
                    <img src="/uploads/download_1578537773017.jpg" class="img-thumbnail"/>
                    <p>200 MAD / Day</p>
                    <div class="form-group"><button class="btn btn-primary" type="submit">Details</button></div>
                </div>

                <table class="table">
                    <tr>
                        <td>
                            <i class="fa fa-car"></i>
                            <text>2019</text>
                        </td>
                        <td>
                            <i class="fa fa-dashboard"></i>
                            <text>Diesel</text>

                        </td>
                        <td>
                            <i class="fa fa-cog"></i>
                            <text>Auto</text>
                        </td>
                        <td>
                            <i class="fa fa-road"></i>
                            <text>25000</text>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Ford Fiesta</div>
                <div class="card-body">
                    <img src="/uploads/ford-fiesta-2016-298_1578538132932.jpg" class="img-thumbnail"/>
                    <p>200 MAD / Day</p>
                    <div class="form-group"><button class="btn btn-primary" type="submit">Details</button></div>
                </div>

                <table class="table">
                    <tr>
                        <td>
                            <i class="fa fa-car"></i> 2018
                        </td>
                        <td>
                            <i class="fa fa-dashboard"></i> Diesel
                        </td>
                        <td>
                            <i class="fa fa-cog"></i> Manual
                        </td>
                        <td>
                            <i class="fa fa-road"></i> 50000
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Hyundai Accent</div>
                <div class="card-body">
                    <img src="/uploads/2018-hyundai-accent-1557849839_1578537831879.jpg" class="img-thumbnail"/>
                    <p>250 MAD / Day</p>
                    <div class="form-group"><button class="btn btn-primary" type="submit">Details</button></div>
                </div>

                <table class="table">
                    <tr>
                        <td>
                            <i class="fa fa-car"></i> 2019
                        </td>
                        <td>
                            <i class="fa fa-dashboard"></i> Diesel
                        </td>
                        <td>
                            <i class="fa fa-cog"></i> Auto
                        </td>
                        <td>
                            <i class="fa fa-road"></i> 25000
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Statistics</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-users icon"></i>
                        <h3 class="name">Number of users</h3>
                        <h3>2</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-car icon"></i>
                        <h3 class="name">Active advertisements</h3>
                        <h3>12</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Reservations done</h3>
                        <h3>2</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>