
@{
    ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/Team-Clean.css" />

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">Meet our team</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/boukhlouf.jpg">
                <h3 class="name">Mohammed Boukhlouf</h3>
                <p class="title">Developer</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/M.Boukhlouf"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/M.Boukhlouf"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.twitter.com/M_Boukhlouf"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/cherrate.jpg">
                <h3 class="name">Kawtar Cherrate</h3>
                <p class="title">Developer</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/M.Boukhlouf"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/M.Boukhlouf"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.twitter.com/M_Boukhlouf"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/azouzi.jpg">
                <h3 class="name">Chaimae Azouzi</h3>
                <p class="title">Developer</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/M.Boukhlouf"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/M.Boukhlouf"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.twitter.com/M_Boukhlouf"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>