@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<link href="~/css/form.css" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">

            <h1>Log in</h1>

        </div>

        <!-- Login Form -->
        @using (Html.BeginForm()) 
        {
            @Html.TextBoxFor(model => model.Authentication.Username, new { id = "login", @class = "fadeIn second" })
            @Html.PasswordFor(model => model.Authentication.Password, new { id = "login", @class = "fadeIn second" })
            <input type="submit" class="fadeIn fourth" value="Log In">
        }

        <div id="formFooter">
            You don't have an account ? @Html.ActionLink("", "Register")
        </div>

    </div>
</div>

