@model Api.Models.Annonce
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">

        <h1>@Model.Modele</h1>
        <div class="caption">
            <h3 class="pull-right">@Model.Marque</h3>
            <p>@Model.Kilométrage</p>
        </div>
    </div>
</div>