
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>View</title>
    <link href="~/css/site1.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="main">
            
            <div class="card">
                <div class="card_top">
                    <strong class="name">BMW 420 i</strong>
                    <span>360°</span>
                </div>
                <div class="card_mid">
                    <img src="http://co0kie.github.io/htmlcss/bmw/img/car1.png" alt="">
                </div>
                <div class="card_bottom">
                    <div>
                        <img src="http://co0kie.github.io/htmlcss/bmw/img/settings.svg" height="50" width="50" alt="">
                        <small>320KW</small>
                    </div>
                    <div>
                        <img src="http://co0kie.github.io/htmlcss/bmw/img/flash.svg" height="50" width="50" alt="">
                        <small>4.2SEC</small>
                    </div>
                    <div>
                        <img src="http://co0kie.github.io/htmlcss/bmw/img/car.svg"   height="50" width="50" alt="">
                        <small>260°</small>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</body>
</html>
