body {
    font-family: 'open sans';
    overflow-x: hidden;
 
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}


.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
    }

        .preview-thumbnail.nav-tabs li img {
            max-width: 100%;
            display: block;
        }

        .preview-thumbnail.nav-tabs li a {
            padding: 0;
            margin: 0;
        }

        .preview-thumbnail.nav-tabs li:last-of-type {
            margin-right: 0;
        }

.tab-content {
    overflow: hidden;
}

    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1em;
    height:420px;
    width:800px;
    margin-left:150px;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title, .price, .sizes {
  
    font-weight: bold;
}
    .checked{
        
        color:blue;
    }
  
.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
    color: steelblue;
}
.text-color
{
    color:black;
}
.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

    .size:first-of-type {
        margin-left: 40px;
    }

    .color:first-of-type {
        margin-left: 20px;
    }
    .action{
        margin-bottom:5px;
    }
.add-to-cart  {
    margin-bottom:5px;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    background-color:blue;

 
}

 

.not-available {
    text-align: center;
    line-height: 2em;
}

    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: blue;
    }

 

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
