@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    17 BUREAUX NOUR à COTE DE ASTOR<br />
    FES, FES-MEKNES 98052-6399<br />
    Morocco<br />
    <abbr title="Phone">P:</abbr>
    +212 707 000 311
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mohammed.boukhlouf@outlook.com">mohammed.boukhlouf@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mohammed.boukhlouf@outlook.com">mohammed.boukhlouf@outlook.com</a>
</address>